.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    background-image: url(${BGPrize});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
    width: 100%;
    outline: none;
    position: absolute;
}

.paper {
    background-image: url(${PrizeFrame});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 10vw;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    outline: none;
    position: absolute;
}

.prize {
    margin: 0;
    position: absolute;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}